.slide {
	right: -100vw;
	transition: right .6s ease-in-out;
	-o-transition: right .6s ease-in-out;
	-moz-transition: right .6s ease-in-out;
	-webkit-transition: right .6s ease-in-out;
}
.slide.in{right: 0px;}
.slide.out{right: -100vw;}

.rfade {
	opacity: 0;
	transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-webkit-transition: opacity 2s ease-in-out;
}
.rfade.in {opacity: .45;}
.rfade.out {opacity: 0;}

