body {
	background-color: rgba(102,171,205,.35);  /*#66ABCD*/
}

.no-padding {
	padding: 0;
}

.no-padding-h {
	padding-left: 0;
	padding-right: 0;
}

.no-padding-v {
	padding-bottom: 0;
	padding-top: 0;
}

.button {
	background-color: rgba(255, 175, 64, 1) /*#FAAF40*/;
	cursor: pointer;
	padding: 2px 20px;
}

.button:hover {
	transition: background-color .6s ease /*#FAAF40*/;
	background-color: rgba(255, 175, 64, .8);
}

.bg-full-image {
	height: 100vh;
	overflow: hidden;
}

#city-img {
	background-position: bottom;
	background-size: cover;
	bottom: 0;
	opacity: .45;
	min-width: 100%;
}

#logo-frame {
	min-width: 100px;
   	max-width: 250px;
    width: 13%;
}

#nav-menu {
	background-color: rgba(28, 117, 188, 1);
	height: 100vh;
	top: 0;
	right: 100vw;
	z-index: 100;
}

.nav-content {
	top: 90px;
}

.nav-content h3 {
	color: rgba(255,255,255,1);
	line-height: 1.8;
}

.nav-content ul {
	border-bottom: solid 1px rgba(255,255,255,1);
	border-top: solid 1px rgba(255,255,255,1);
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	padding-bottom: 20px;
	padding-top: 20px;
}

.nav-content ul a {
	font-size: 1.5em;
	line-height: 2;
}

#nav-menu li span:before {
	content: "\2601";
	opacity: 0;
	padding-right: 10px;
	transition: opacity .25s ease;
}

#nav-menu a {
	color: rgba(255,255,255,1);
	text-decoration: none;
	width: 100%;
}

#nav-menu a:hover {
	color: rgba(255, 175, 64, 1);
	transition: color .25s ease;
}

#nav-menu li:hover span:before {
	opacity: 1;
}


#left-aside {
	padding-left: 30px;
    padding-top: 30px;
	position: relative;
}

#left-aside option {
	line-height: 1.5;
}
